.main-aside{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-aside .title{
    font-family: 'Vidaloka', serif;
    font-weight: bold;
    font-size: 5em;
    max-width: 500px;
    color: #030440;
}

.main-aside .text{
    text-align: left;
    font-size: 1.8em;
    font-family: 'Vidaloka', serif;
    color: #030440;
}