.main-article, .main-article > .figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-article{
    padding-top: 1.5em;
    padding-bottom: 3em;
    flex-direction: column;
    max-width: 25%;
    background-color: rgba(253, 191, 215, 0.3);
}

.main-article:nth-child(2){
    background-color: rgba(167, 227, 245, 0.3);
}

.main-article .figure .image{
    width: 40%;
}

.main-article .figure .image.-width{
    width: 55%;
}