.main-title{
    font-size: 2.4em;
    font-family: 'Vidaloka', serif;
    color: #030440;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #bc28e6;
}

.main-title.-color{
    color: #fff;
}

.main-title.-noDash{
    padding-bottom: 0;
    border-bottom: 0;
}

.main-title.-fontBigger{
    font-size: 5.4em;
    max-width: 500px;
}

.main-title > .colorText{
    color: #bc28e6;
}